{% extends 'base.html' %}
{% load static %}

{% block metadescription %}

    {% if category %}
        {{category.description|truncatewords:155}}
    {% else %}
        Welcome to Kite store Where you can buys Different Items....
    {% endif %}

{% endblock %}

{% block title %}

    {% if category %}
        {{category.name}} - Kite Store
    {% else %}
          Kite Store
    {% endif %}

{% endblock %}

{% block content %}
    {% if category %}
<div class="container">
    <div class="row my_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'Kite:AllProductCat' %}">Our Product Collection </a></p>
        </div>
    </div>
</div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_img" src="{{category.img.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
    <h1 class="text_center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
   <img class="my_img my_img_padding" src="{% static 'img/banner.png' %}" alt="Our Products" width="1650px" height="700px">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Product Collections....</h1>
    <p class="container">The description provides you the opportunity to sell your customer on downloading/purchasing your app. Consider your audience. Who is your app’s target customer?<br>
        Make sure the customer knows you are speaking to their interests. What is your app’s point of differentiation? What are the key features of the app? <br>
        Let customers know why this app is special and something they would enjoy or need.</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for products in product.object_list %}
        <div class="my_bottom_margin col-9 col-sm12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{products.get_url}}"><img class="card-img-top my_img" src="{{ products.img.url }}" alt="{{products.name}}"></a>
                <div class="card-body">
                    <h2>{{products.name}}</h2>
                    <h3>{{products.price}}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if product.paginator.num_pages > 1 %}

         <hr>
        <div class="text-center">
            {% for pg in product.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if product.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}